/**
 * File: breathe-style.css
 * Author: Zachary Liou
 * Date created: 2021 April 21
 * Description: CSS sheet for page promoting the square breathing app.
 */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #2e2e2e;
	font-family: 'Raleway', sans-serif;
    padding: 40px;
}

h1 {
	padding-top: 3vh;
	color: white;
	font-size: 7em;
	font-weight: 400;
	letter-spacing: 0.2em;
	word-spacing: 0.5em;
}

p {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
}

.flex_container {
    display: flex;
    justify-content: space-between;
}

.phone-preview-container, .store-button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#app-store-badge {
  margin-top: 30px;
  height: 125px;
}

#play-store-badge {
  height: 185px;
}

#phone-preview {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    max-width: 800px;
}

