/*
 *	Name: Zachary Liou
 *  Date: 2015 September 8 Tuesday
 *	File: resume-style.css
 *	Purpose: CSS style sheet for resume on personal website.
 */

/* General */

body {
	margin: 0px;
	font-family: Questrial, Roboto Light, Roboto, Segoe UI, sans-serif;
	color: rgb(75, 75, 75);
}

.name, .group, ul {
	margin-left: 22vw;
	margin-right: 22vw;
}

.entry, .subgroup {
	margin-left: 24vw;
	margin-right: 24vw;
}

hr {
	width: 54vw;
}

p {
	text-align: center;
}