/*
 *	Name: Zachary Liou
 *  Date: ~ July - September 2015
 *	File: style.css
 *	Purpose: CSS style sheet for personal website.
 */

/* General */

body {
	margin: 0px;
	font-family: Roboto Light, Roboto, Segoe UI, sans-serif;
	color: rgb(50, 50, 50);
}

h3 {
	font-size: 0.8em;
}



/* Nav Bar */
.nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 6%;
	background-color: rgb(50, 50, 50);
	padding-left: 0vw;	
}

.nav-text {
	color: white;
	text-decoration: none;
}
.nav-text-container {
	display: inline-block;
	padding-top: 1%;
	padding-left: 2vw;
}



/* Intro */
.hello-link {
	text-decoration: none;
	color: inherit;
	border-top: solid 1px rgb(50, 50, 50);
	border-bottom: solid 1px rgb(50, 50, 50);
	padding: 0.4em 13em;
}

.intro-page {
	/*background: url(img/drafting.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/

	height: 100vh;
}

.name {
	padding-top: 25vh;
	font-size: 3em;
	font-weight: lighter;
	text-align: center;
}

.greet {
	text-align: center;
}



/* Home */

.home-page {
	background: url(img/beach.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	padding-left: 4vw;
	padding-right: 4vw;
	height: 100vh;
}

.where {
	padding-top: 12vh;
	margin-bottom: 8vw;
}



/* Work */

.work-page {
	padding-left: 4vw;
	padding-right: 4vw;
	height: 100vh;
}



/* Art */

.art-page {
	padding-left: 4vw;
	padding-right: 4vw;
	height: 100vh;
}



/* Resume */

.resume-page {
	padding-left: 4vw;
	padding-right: 4vw;
	height: 100vh;
}



/* Media Queries */

@media (min-width: 800px) {
	.home-page, .work-page, .art-page, .resume-page {
		padding-left: 27vw;
		padding-right: 27vw;
	}
}