/*
 * File: style.css
 * Author: Zachary Liou
 * Date created: 2016 July 25
 * Description: Primary CSS stylesheet for personal site
 */


* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Jomolhari', serif;
}

h1 {
    font-family: 'Noto Serif Display', 'Jomolhari', serif;
	font-size: 7em;
    font-weight: 700;
    line-height: 1em;
}

button {
    background: #c2c2c2;
    color: white;
    font-size: 3em;
    font-family: 'Jomolhari', sans-serif;
    text-transform: uppercase;
    margin: 2vw 2vw;
    border: 1px black;
}

p {
    margin-bottom: 20px;
    line-height: 2.5em;
    font-size: 15px;
}

#bar {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 6vh;
    padding-bottom: 1vh;
    justify-content: start;
    gap: 5%;
}

.bar-link {
    font-size: 12px;
}

.bar-link:hover {
    color: green;
}

#container {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3vh;
    gap: 5%;
    margin: auto;
}

#intro-text-container: {
    min-width: 300px;
    max-width: 700px;
    width: auto;
    padding-right: 30px;

    display: inline-block;
    align-self: flex-start;
    flex-wrap: wrap;
}

#intro {
    line-break: loose;
    margin-bottom: 0.8em;
}

.text {
    min-width: 300px;
    width: 100%;
    max-width: 700px;
}

#feature-zach {
    display: inline-block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    object-fit: cover;
    max-width: 650px;
    max-height: 650px;
    width: auto;
    height: auto;

    margin-top: 3em;
    align-self: start;
}

.button-cn {
	padding-top: 10vh;
	width: 100vw;
	height: 50vh;
	text-align: center;
}

.green {
    color: green;
}

